body {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    /* display: block;
    margin: 0px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

